.item1 {
  width: 40%;
  height: 100%;
}
.item1 > img {
  width: 100%;
  height: 100%;
}
/* .item {
  width: 60%;
  height: 100%;
} */

/* .container{
  height: 100vh;
} */

.container1 {
  /* background-color: aqua; */
  min-height: 100vh;
}
